@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;500;600;700;800;900&display=swap");


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(10 10 10 / 82%);
  z-index: 9;
}



.login-container,.register-container {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 40vh;
}
/* .left,.right{
  height: 450px;
  width: 270px;
}
.left{
  margin-bottom: 15%;
}
.right{
  margin-top: 15%;
} */

.form-group {
  align-items: center;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-group {
  width: 70%;
  height: 50px;
  padding: 25px;
  border-radius: 22px;
  border: 1px solid #3F64EC;
  background: #202429;
  color: white;
  
}


.register-container {
  display: flex;
  border-radius: 22px;
  background: #2A2F35;  
  width: 100%;
  height: 200%;
}

.login-container {
  display: flex;
  border-radius: 22px;
  background: #2A2F35;  
  width: 100%;
  margin-top:  100px ;
  height: 70%;
}


.login-container .error-border {
  border: 1px solid red;
}

.login-container,.register-container {
  width: 35vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 97vh;

}




.bt{
  border-radius: 22px;
  background: linear-gradient(90deg, #3C6FF2 3.15%, rgba(125, 18, 210, 0.75) 109.52%);
  border: none;
  color: white    ;
  transition: 0.4s;
}
.bt:hover{
  background: transparent;
  border: 1px solid rgb(103, 103, 255);
  transition: 4s;
}


body {
  font-family: "Epilogue", sans-serif;
  background: #202429;
  overflow-x: hidden;
}
.background {
  background: #2a3e55;
}

.container {
  margin: 0 auto;
  padding: 0 60px;
  background-color: #2a3e55;
}
header {
  padding: 20px;
}
li {
  margin: 0 10px;
}
ul {
  align-items: center;
}
li a {
  transition: 0.3s ease;
}
li a:hover {
  color: #69a4eb;
  transition: 0.3s ease;
}
.input:focus {
  color: white;
  padding-left: 10px;
  outline: none;
  border: 1px solid #69a4eb;
}
.input {
  color: white;
  border: 1px solid white;
  border-radius: 30px;
  padding-left: 10px;
  padding-right: 70px;
}
.footer-background{
  background: #353A40;
}
.footercont {
  width: 1440px;
  height: 226px;
  flex-shrink: 0;
  margin: 0 auto;
  padding: 0 50px;
}
footer {
  padding-top: 100px;
  color: white;
}
footer p {
  transition: 0.3s ease-in-out;
}
footer p:hover {
  color: #69a4eb;
  transition: 0.3s ease-in-out;
}
section{
  align-items: center;
}
svg{
  cursor: pointer;
}